.button {
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 1;
}

#page_debut{
    
    -fx-background-color: rgb(79, 79, 79);
    
}

#liste{
    -fx-font-size: 17;
}

#choix{
    -fx-font-size: 22;
    -fx-text-fill: #ffffff;
    -fx-underline: true;
}

#valider    {
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

#JAUNE{-fx-font-size: 18;
    -fx-padding: 1, 1, 1, 1;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border: gone;
    -fx-background-color: transparent;
    -fx-text-fill: #e8e000;
}
#ROUGE{
    -fx-font-size: 18;
        -fx-padding: 1, 1, 1, 1;
        -fx-border-color: rgb(255, 255, 255);
        -fx-border-width: 2;
        -fx-border-radius: 1;
        -fx-border: gone;
        -fx-background-color: transparent;
        -fx-text-fill: red;
}
#BLEU{
    -fx-font-size: 18;
        -fx-padding: 1, 1, 1, 1;
        -fx-border-color: rgb(255, 255, 255);
        -fx-border-width: 2;
        -fx-border-radius: 1;
        -fx-border: gone;
        -fx-background-color: transparent;
        -fx-text-fill: #0569f5;
}
#VERT{
    -fx-font-size: 18;
        -fx-padding: 1, 1, 1, 1;
        -fx-border-color: rgb(255, 255, 255);
        -fx-border-width: 2;
        -fx-border-radius: 1;
        -fx-border: gone;
        -fx-background-color: transparent;
        -fx-text-fill: #10c000;
}
#ROSE{
    -fx-font-size: 18;
        -fx-padding: 1, 1, 1, 1;
        -fx-border-color: rgb(255, 255, 255);
        -fx-border-width: 2;
        -fx-border-radius: 1;
        -fx-border: gone;
        -fx-background-color: transparent;
        -fx-text-fill: #f700ff;
}

.choice-box .context-menu {
    -fx-background-color: rgb(0, 0, 0);
}

.choice-box .menu-item:focused {
    -fx-background-color: rgb(255, 255, 255);
}

.choice-box .menu-item>.label {
    -fx-text-fill: rgb(255, 255, 255);
}

.choice-box .menu-item:focused>.label {
    -fx-text-fill: rgb(0, 0, 0);
}


.choice-box {
    -fx-background-color: black;
    -fx-mark-color: rgb(255, 255, 255); 
}

.choice-box>.label {
    -fx-text-fill: white;
}